<!-- INDEX DES POSTS -->
<template>
  <div>
    <section class="work">
      <figure v-for="post in posts" :key="post.id" class="white">
        <router-link :to="{ name: 'posts.show', params: {id: post.id} }">
          <img :src="'assets/img/'+post.image" :alt="post.subcategorie.name" />
          <dl>
            <dt>{{ post.subcategorie.name }}</dt>
            <dd>{{ post.resume }}</dd>
          </dl>
        </router-link>
        <div id="wrapper-part-info">
          <div class="part-info-image">
            <img :src="'assets/img/' + post.categorie.picto " alt="" width="28" height="28"/>
          </div>
          <div id="part-info">{{ post.subcategorie.name }}</div>
        </div>
      </figure>
    </section>

    <!-- MORE POSTS -->
    <div id="wrapper-oldnew">
      <div class="buttons">
        <button class="btn btn-gray" style="padding: 20px; border-radius: 10px; margin-top: 50px; margin-left: 50%;"  type="button" @click="morePosts += 8">More</button>
      </div>
    </div>
  </div>
</template>





<script>
  export default {
    data () {
      return {
        morePosts: 20
      }
    },
    computed: {
      posts () {
      // Computed pour aller chercher ce getter => getters.getPosts
        let idCat = this.$route.params.id;
        if(typeof idCat !== 'undefined' && idCat !== 6){
          return this.$store.getters.getPostsByCategorieId(idCat);
        }
        return _.orderBy(this.$store.getters.getPosts.slice(0, this.morePosts), 'created_at', 'desc');
      }
    }
  }
</script>
